<header class="bg-yellow-900 p-4 ">
    <nav class="text-white flex p-1   text-2xl mb-2">
        <h2 class="" id="home-button">Home</h2>
        <h2 class="mx-2" id="dashboard-button">Dashboard</h2>
        {{logged_in}}
        {{#if logged_in}}
        <h2 class="mx-2" id="login-button">LogOut</h2>
         {{else}}
        <h2 class="mx-2" id="login-button">LogIn</h2>
        {{/if}}
        <h2 class="mx-2" id="signup-button">Signup</h2>

    </nav>
    <div>
        <H1 class="bg-white text-yellow-900 max-w-max p-2 rounded-lg drop-shadow-4g mx-1 text-5xl">The Tech Blog</H1>
    </div>
    </header>