<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/output.css" >
    <title>Document</title>
</head>
<body>
    <header class="bg-yellow-900 p-4 ">
    <nav class="text-white flex p-1   text-2xl mb-2">
        <h2 class=>Home</h2>
        <h2 class="mx-2">Dashboard</h2>
        <h2 class="mx-2">LogIn</h2>
    </nav>
    <div>
        <H1 class="bg-white text-yellow-900 max-w-max p-2 rounded-lg drop-shadow-lg mx-1 text-5xl">The Tech Blog</H1>
    </div>
    </header>
    <main>

    </main>



    
</body>
</html>