<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/output.css" >
    <title>Document</title>
</head>
<body>
    <header class="bg-yellow-900 p-4 ">
    <nav class="text-white flex p-1   text-2xl mb-2">
        <h2 class=>Home</h2>
        <h2 class="mx-2">Dashboard</h2>
        <h2 class="mx-2">LogIn</h2>
    </nav>
    <div>
        <H1 class="bg-white text-yellow-900 max-w-max p-2 rounded-lg drop-shadow-4g mx-1 text-5xl">The Tech Blog</H1>
    </div>
    </header>
    <main class=" bg-slate-100 m-2">
        <div id="blog-post" class="border-solid border-yellow-900 border-4">
            <div id="blog-title" class="bg-yellow-900 p-2 flex justify-between text-white text-2xl">
                <p>Why MVC is so important</p>
                <p>Posted by Mola on 5/3/2024</p>
            </div>
            <div id="blog-contant" class="p-4 text-yellow-900 text-lg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam incidunt quod a harum iste. Nobis quis molestiae nisi, quas sint consequuntur et deserunt reiciendis quam.</p>
            </div>
        </div>

    </main>



    
</body>
</html>